loinc2hpo-core/src/main/resources/hp.obo
loinc2hpo-core/src/main/resources/catalog-v001.xml
loinc2hpo-core/src/test/resources/hp.rdfformat
.idea/uiDesigner.xml
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/testresult/ValueQuantity.java
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/testresult/Interpretation.java
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/fhir/INTERPRETATION.java

loinc2hpogui/src/test/resources/split.sh
loinc2hpogui/src/test/resources/UNC-loinc*
loinc2hpogui/src/test/resources/UNC-data_loinc.txt
loinc2hpo-core/src/test/org/monarchinitiative/loinc2hpo/util/TSTTest.java
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/util/TST.java
logs/
.idea/codeStyleSettings.xml
loinc2hpo-core/logs/
loinc-hpoTermId4LoincTest-mapping.tsv
loinc2hpo-core/src/main/resources/hp.owl
loinc2hpo-core/src/main/resources/data_UNC_annotated.csv
loinc2hpo-core/src/main/resources/loinc_most_frequent.csv
loinc2hpo-core/src/resource/
.idea/.name

# .iml files
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_0_18.xml
.idea/libraries/Maven__com_google_guava_guava_23_4_jre.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_9_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_9_1.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/loinc2hpo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/*.xml
data/
logs/2017-12/
loinc2hpogui/src/main/java/org/monarchinitiative/loinc2hpo/gui/loinc2hpomain/org/
OLD/src/main/resources/
OLD/src/test/
OLD/target/generated-sources/
loinc2hpo-core/target/
target/classes/
target/distribution-resources/
target/generated-sources/
target/maven-archiver/
target/maven-status/
/loinc2hpogui/dependency-reduced-pom.xml
OLD/src/main/java/
loinc2hpogui/dependency-reduced-pom.xml
loinc2hpogui/target/archive-tmp/
loinc2hpogui/target/generated-sources/
loinc2hpogui/target/maven-archiver/
loinc2hpogui/target/maven-status/
loinc2hpo-gui.iml
loinc2hpogui/target/
/loinc2hpogui/loinc2hpo-gui.iml
