# Project-related - adjust as necessary
data/

loinc2hpogui/src/main/java/org/monarchinitiative/loinc2hpo/gui/loinc2hpomain/org/
loinc2hpo-core/src/main/resources/hp.obo
loinc2hpo-core/src/main/resources/catalog-v001.xml
loinc2hpo-core/src/test/resources/hp.rdfformat


OLD/src/main/java/
loinc2hpogui/dependency-reduced-pom.xml

loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/testresult/ValueQuantity.java
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/testresult/Interpretation.java
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/fhir/INTERPRETATION.java

loinc2hpogui/src/test/resources/split.sh
loinc2hpogui/src/test/resources/UNC-loinc*
loinc2hpogui/src/test/resources/UNC-data_loinc.txt
loinc2hpo-core/src/test/org/monarchinitiative/loinc2hpo/util/TSTTest.java
loinc2hpo-core/src/main/java/org/monarchinitiative/loinc2hpo/util/TST.java



loinc-hpoTermId4LoincTest-mapping.tsv
loinc2hpo-core/src/main/resources/hp.owl
loinc2hpo-core/src/main/resources/data_UNC_annotated.csv
loinc2hpo-core/src/main/resources/loinc_most_frequent.csv
loinc2hpo-core/src/resource/

docs/build/*
docs/source/images/figures.pptx
# Maven
target/

# IntelliJ stuff
.idea/
*.iml

# Compiled class file
*.class

# Log file
#*.log
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac junk :)
.DS_Store
