
.label {
	-fx-padding: 1 3 1 3;
	-fx-border-radius: 1;
	-fx-border-width: 1;
	-fx-opacity: 0.7;
	-fx-text-fill: blue;
	-fx-font-size: 14pt;
	-fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 0 , 3 );
}

.text-field {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-focus-color: linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-prompt-text-fill: transparent;
    -fx-padding: 10px;
}



.button {
   -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
                         linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
                         linear-gradient(#dddddd 0%, #f6f6f6 50%);
   -fx-background-radius: 8,7,6;
   -fx-background-insets: 0,1,2;
   -fx-text-fill: black;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
   -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#5a61af, #51536d),linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
   -fx-text-fill: #242d35;
}
.button:pressed {
    -fx-background-color: #000000,linear-gradient(#7ebcea, #2f4b8f),linear-gradient(#426ab7, #263e75),linear-gradient(#395cab, #223768);
    -fx-text-fill: white;
}
